#p1 {
	text-align: center;
	font-size: 30px;
	background-color: aqua;
}

#p2 {
	text-align: center;
	font-size: 30px;
	background-color: aqua;
}

.order {
	height: 25px;
	width: 400px;
}

#p {
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	font-size: 30px;
	background-color: aqua;
}

#p4 {
	text-align: center;
	font-size: 30px;
	background-color: aqua;
}
