#p1 {
	font-size: 80px;
	text-align: center;
	background-color: #fff1d0;
}
#links {
	background-color: #fff1d0;
	text-align: center;
	font-size: 55px;
	margin: 0% 20% 0% 20%;
}

#p2 {
	font-size: x-large;
	text-align: center;
	align-items: center;
	background-color: #fff1d0;
}
body {
	background-color: #fff1d0;
}
.login_button:hover {
	background-color: #f6d4ba;
	color: black;
	border: none;
}
